<h1>Sign In</h1>

<%= form_with(model: @user, url: session_path, local: true) do |f| %>

  <% if flash.now[:alert] %>
    <div class="alert alert-danger">
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <div class="flex flex-col gap-2">
    <%= f.label :email %>
    <%= f.text_field :email, required: true %>
  </div>

  <div class="flex flex-col gap-2">
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>

  <div class="flex items-center justify-center">
    <%= f.submit "Sign In", class: "bg-darkPurple text-white" %>
  </div>
<% end %>
