<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Avivas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen w-screen">
  <nav class="w-full h-auto bg-lilac flex justify-between">
    <div class="flex ">
      <p class='text-darkPurple py-5 px-2'>Productos</p>
      <% if user_signed_in? %>
        <%= link_to 'Usuarios', users_path, class: 'text-darkPurple py-5 px-2' %>
      <% end %>
    </div>
    <% if not user_signed_in? %>
      <%= button_to 'Acceder', new_session_path, method: :get, class: 'text-darkPurple py-5 px-2' %>
    <% end %>
    <% if user_signed_in? %>
      <%= button_to 'Cerrar Sesion', session_path, method: :delete, class: 'text-darkPurple py-5 px-2'%>
    <% end %>
  </nav>
    <main class="w-full h-full bg-slate-200 flex flex-col">
   
      <%= yield %>
      <footer class="bg-gray-800 text-white py-4 mt-8">
      <div class="container mx-auto text-center">
        <p>&copy; 2024 Avivas. Todos los derechos reservados.</p>
      </div>
      </footer>
    </main>
  </body>
</html>
